.Addtaskcontainer {
    display: grid;
    width: 96%;
    padding: 0 15px;
    font-weight: bold;
    /* margin-left: 15%;
	margin-right: 15%; */
    margin-bottom: 2%;
    border-radius: 15px;
    color: rgb(29, 29, 29);
    background-color: rgba(200, 240, 243, 0.87);
    font-family: 'Caros Light';
    grid-template-rows: 1fr;
    grid-template-columns: 80px 2fr 1fr;
}
.searchbar {
    font-family: 'Caros Light';
    padding: 16px 15px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    border: none;
    width: 100%; /* Make it take full width of its grid area */
}

input[type='search'] {
    border: none !important;
}

.sortby {
    height: 40px;
    padding: 8px;
    outline: none;
    color: rgb(23, 23, 23);
    background-color: rgba(200, 240, 243, 0.87);
    border: 2px solid rgba(25, 217, 231, 0.87);
    border-radius: 15px;
    margin-top: 6px;
    margin-left: 100px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 0 15px;
    font-weight: bold;
    /* margin-left: 15%;
	margin-right: 15%; */
    margin-bottom: 6%;
    background-color: transparent;
}

.addbtn {
    padding: 10px 20px;
    margin-right: 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Caros Light';
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: linear-gradient(135deg, #56ccf2 0%, #2f80ed 100%);
}
.deletebtn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-family: 'Caros Light';
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}

/* Media Queries for Responsiveness */
/* Small Screens (280px - 300px) */
@media screen and (min-width: 280px) and (max-width: 300px) {
    .rgbcolors {
        font-size: 12px;
    }

    .Addtaskcontainer {
        width: 87%;
        padding: 0 6px;
        margin-bottom: 2%;
        margin-left: -2px;
        grid-template-columns: 80px 2fr 1fr;
    }

    .searchbar {
        padding: 0 5px;
        font-size: 12px !important;
    }
    input[type='text'] {
        width: 95%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
        margin-bottom: 3px;
    }
    .buttons {
        display: grid !important;
        margin-left: 5px;
        width: 83%;
        column-gap: 0 !important;
        grid-template-rows: 1fr;
        grid-template-columns: 80px 80px 80px;
    }

    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 1px 4px 1px 4px;
        width: 70px !important;
        font-size: 10px !important;
    }
}

/* Small Screens (301px - 600px) */
@media screen and (min-width: 301px) and (max-width: 320px) {
    .rgbcolors {
        font-size: 12px;
    }

    .Addtaskcontainer {
        padding: 0 8px;
        margin-bottom: 2%;
        margin-left: 3px;
        grid-template-columns: 80px 2fr 1fr 1fr;
    }

    .searchbar {
        padding: 0 5px;
        font-size: 12px !important;
    }
    input[type='text'] {
        width: 96%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        border-radius: 15px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
    }
    .buttons {
        display: grid !important;
        margin-left: 5px;
        width: 83%;
        column-gap: 0 !important;
        grid-template-rows: 1fr;
        grid-template-columns: 80px 80px 80px;
    }

    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 1px 4px 1px 4px;
        width: 70px !important;
        font-size: 10px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 350px) {
    .rgbcolors {
        font-size: 12px;
    }

    .Addtaskcontainer {
        padding: 0 8px;
        margin-bottom: 2%;
        margin-left: 3px;
        grid-template-columns: 80px 2fr 1fr 1fr;
        width: 103%;
    }

    .searchbar {
        padding: 0 5px;
        font-size: 12px !important;
    }
    input[type='text'] {
        width: 96%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        border-radius: 15px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
    }
    .buttons {
        display: grid !important;
        margin-left: 5px;
        width: 83%;
        column-gap: 0 !important;
        grid-template-rows: 1fr;
        grid-template-columns: 80px 80px 80px;
    }

    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 1px 4px 1px 4px;
        width: 70px !important;
        font-size: 10px !important;
    }
}

/* Small Screens (301px - 600px) */
@media screen and (min-width: 351px) and (max-width: 400px) {
    .Addtaskcontainer {
        margin-bottom: 2%;
        width: 94%;
    }

    .searchbar {
        padding: 0 5px;
        font-size: 12px !important;
    }
    input[type='text'] {
        width: 95%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        border-radius: 15px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
    }
    .buttons {
        display: grid !important;
        margin-left: 5px;
        width: 83%;
        column-gap: 0 !important;
        grid-template-rows: 1fr;
        grid-template-columns: 95px 88px 80px;
    }

    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 3px 7px 3px 7px;
        width: 70px !important;
        font-size: 10px !important;
    }
}
/* Small Screens (301px - 600px) */
@media screen and (min-width: 401px) and (max-width: 440px) {
    .Addtaskcontainer {
        grid-template-columns: 336px !important;
    }
    input[type='text'] {
        width: 96%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        border-radius: 15px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
    }

    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 5px 10px 5px 10px;
        width: 70px !important;
        font-size: 10px !important;
    }
}
/* Small Screens (301px - 600px) */
@media screen and (min-width: 441px) and (max-width: 500px) {
    .Addtaskcontainer {
        grid-template-columns: 340px !important;
        width: 100%;
    }
    input[type='text'] {
        width: 96%;
    }
    .sortby {
        height: 30px;
        padding: 2px;
        border-radius: 15px;
        font-size: 12px !important;
        margin-left: 155px !important;
        margin-right: 15px !important;
    }
    .buttons {
        display: grid !important;
        margin-left: 5px;
        width: 125%;
        column-gap: 0 !important;
        grid-template-rows: 1fr;
        grid-template-columns: 95px 88px 80px;
    }
    .addbtn,
    .deletebtn {
        border-radius: 6px !important;
        padding: 5px 10px 5px 10px;
        width: 70px !important;
        font-size: 10px !important;
    }
}

@media (max-width: 768px) {
    .Addtaskcontainer {
        grid-template-columns: 1fr;
    }
}
