.listbar {
	display: grid;
	width: 90%;
	padding: 0 15px;
	font-weight: bold;
	margin-bottom: 8px;
	/* margin-left: 15%;
	margin-right: 15%; */
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	color: rgb(29, 29, 29);
	background-color: rgba(200, 240, 243, 0.87);
	/* border-bottom: 5px solid rgba(80, 79, 78, 0.852); */
	font-family: "Caros Light";
	grid-template-rows: 1fr;
	grid-template-columns: 60px 4fr 1fr;
}

.radiored {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	-moz-appearance: none; /* Remove default styling in Mozilla browsers */
	appearance: none; /* Remove default styling in other browsers */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	outline: none;
	background-color: rgba(255, 33, 33, 0.849);
	border-color: rgba(255, 33, 33, 0.849);
}
.radioyellow {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	-moz-appearance: none; /* Remove default styling in Mozilla browsers */
	appearance: none; /* Remove default styling in other browsers */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	outline: none;
	background-color: rgba(252, 252, 27, 0.89);
	border-color: rgba(252, 252, 27, 0.89);
}
.radiogreen {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	-moz-appearance: none; /* Remove default styling in Mozilla browsers */
	appearance: none; /* Remove default styling in other browsers */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	outline: none;
	background-color: rgb(2, 181, 61);
	border-color: rgb(2, 181, 61);
}

.checkbox {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	-moz-appearance: none; /* Remove default styling in Mozilla browsers */
	appearance: none; /* Remove default styling in other browsers */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #ccc;
	cursor: pointer;
	position: relative;
	border-color: rgba(76, 26, 225, 0.859);
}

.checkbox:checked {
	background-color: rgba(87, 31, 255, 0.859);
	border-color: rgba(87, 31, 255, 0.859);
	position: relative;
}

.checkbox:checked::after {
	content: "✓"; /* Unicode character for tick mark */
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px !important;
	color: white; /* Adjust the color as needed */
}
.strikethough {
	text-decoration: line-through;
}
.time {
	/* display: flex; */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 180px 80px 1fr;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
	font-weight: bolder !important;
}
.timendateGap {
	margin-left: 30%;
	margin-right: 12x;
}

/* Responsive from 280 to 300 */
@media screen and (min-width: 280px) and (max-width: 300px) {
    .scrollableDiv {
        height: 30vh !important;
        margin-left: -3px;
    }
    .listbar {
        width: 95% !important;
        padding: 0;
        margin-left: 2px;
        margin-right: 1px;
        grid-template-rows: 1fr;
        grid-template-columns: 20px 108px 120px;
        font-size: 10px !important;
    }

    .radiored,
    .radioyellow,
    .radiogreen,
    .checkbox {
        width: 10px;
        height: 10px;
    }
    .checkbox {
        margin-left: -85% !important;
    }

    .checkbox:checked::after {
        font-size: 10px !important;
    }

    .time {
        grid-template-rows: 1fr;
        grid-template-columns: 10px 50px 5px;
        padding-right: 8px !important;
    }

    .timendateGap {
        margin-left: -270%;
        margin-right: -26px;
    }
}

/* Responsive from 301 to 3400 */
@media screen and (min-width: 301px) and (max-width: 340px) {
    .scrollableDiv {
        margin-left: -5px !important;
    }
    .listbar {
        width: 96% !important;
        padding: 0;
        margin-left: 2px;
        margin-right: 1px;
        grid-template-rows: 1fr;
        grid-template-columns: 22px 110px 120px;
        font-size: 10px !important;
    }

    .radiored,
    .radioyellow,
    .radiogreen,
    .checkbox {
        width: 10px;
        height: 10px;
    }
    .checkbox {
        margin-left: -12%;
    }

    .checkbox:checked::after {
        font-size: 10px !important;
    }

    .time {
        grid-template-rows: 1fr;
        grid-template-columns: 10px 50px 5px;
        padding-right: 8px !important;
    }

    .timendateGap {
        margin-left: -270%;
        margin-right: -26px;
    }
}

/* Responsive from 341 to 600 */
@media screen and (min-width: 341px) and (max-width: 600px) {
    .scrollableDiv {
        margin-left: -5px !important;
    }
    .listbar {
        width: 96% !important;
        padding: 0;
        margin-left: 2px;
        margin-right: 1px;
        grid-template-rows: 1fr;
        grid-template-columns: 25px 1fr 1fr;
        font-size: 11px !important;
    }

    .radiored,
    .radioyellow,
    .radiogreen,
    .checkbox {
        width: 12px;
        height: 12px;
    }
    .checkbox {
        margin-left: -15%;
    }

    .checkbox:checked::after {
        font-size: 11px !important;
    }

    .time {
        grid-template-rows: 1fr;
        grid-template-columns: 10px 50px 5px;
        padding-right: 8px !important;
    }

    .timendateGap {
        margin-left: -270%;
        margin-right: -26px;
    }
}